body {
  background-color: rgba(204, 203, 203, 0.801);
}

#text-content {
  max-height: 270px;
  overflow: hidden;
  width: 300px;
  margin-bottom: 20px;
}

.color-changer {
  background-color: aqua;
}

#show-more {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

#text-content.open {
  max-height: 1000px;
}

#message {
  opacity: 0;
}

#message.show {
  opacity: 1;
  transition: opacity 0.7s;
}
